<h2>{{titulo}}</h2>

<section>
    <ul>
        <li *ngFor="let usuario of listaUsuario" (click)="consultar(usuario)">
            <b>ID:</b> {{usuario.id}}, <b>NOMBRE:</b> {{usuario.nombre}}, <b>EMAIL:</b> {{usuario.email}}
        </li>
    </ul>
</section>
